-cache:il2 none
-cache:dl2 none
-tlb:itlb  none
-tlb:dtlb  none

-cache:il1 i11:1024:16:4:l  # Instruction L1 cache,
			  # # of sets = 32, block size = 16, so Cache size = 32*16* no of sets = 512 bytes,
                          # No of sets = 1,
                          # Replacement = LRU    

-cache:il1 dl1

-cache:dl1 d11:1024:16:4:l # Data L1 cache,
			  # # of sets = 32, block size = 16, so Cache size = 32*16 = 512 bytes,
                          # Associativity = varies,
                          # Replacement = LRU
