-cache:dl1 d11:512:16:8:l # Data L1 cache,
			  # # of sets = 32, block size = 16, so Cache size = 32*16 = 512 bytes,
                          # Associativity = varies,
                          # Replacement = LRU
-cache:il1 none
-cache:il2 none
-cache:dl2 none
-tlb:itlb  none
-tlb:dtlb  none
